:root {
  --rustyRed: #B12E0A;
  --rustRed_dark: #9c2606;
  --eerieBlack: #1C1C1C;
  --fujiSnow: #F1EFE9;
  --warmCopper: #B76E56;

  --fs-xs: clamp(0.8rem, 0vi + 0.8rem, 0.8rem);
  --fs-s: clamp(1rem, 0vi + 1rem, 1.06rem);
  --fs-m: clamp(1.25rem, 0vi + 1.25rem, 1.42rem);
  --fs-l: clamp(1.56rem, 0vi + 1.56rem, 1.89rem);
  --fs-xl: clamp(1.95rem, 0vi + 1.95rem, 2.52rem);
  --fs-2xl: clamp(2.44rem, 0vi + 2.44rem, 3.35rem);
  --fs-3xl: clamp(3.05rem, 0vi + 3.05rem, 4.47rem);

  --ws-3xs: clamp(0.25rem, 0.2283rem + 0.1087vw, 0.3125rem);
  --ws-2xs: clamp(0.5rem, 0.4783rem + 0.1087vw, 0.5625rem);
  --ws-xs: clamp(0.75rem, 0.7065rem + 0.2174vw, 0.875rem);
  --ws-s: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  /* 1rem */
  --ws-m: clamp(1.5rem, 1.4348rem + 0.3261vw, 1.6875rem);
  --ws-l: clamp(2rem, 1.913rem + 0.4348vw, 2.25rem);
  /* 2rem */
  --ws-xl: clamp(3rem, 2.8696rem + 0.6522vw, 3.375rem);
  --ws-2xl: clamp(4rem, 3.8261rem + 0.8696vw, 4.5rem);
  --ws-3xl: clamp(6rem, 5.7391rem + 1.3043vw, 6.75rem);

  --garamond: "Cormorant Garamond", serif;
  --inter: "Inter", sans-serif;
}

@font-face {
  font-family: 'Plantin';
  src: url('../assets/font/PlantinHeadlineMTPro-MediumCn.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--fujiSnow);
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h2,
h3 {
  color: var(--rustyRed);
}

.visiblity-hidden {
  visibility: hidden;
}

.progress__bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  --progress: 0;
  height: 6px;
  width: var(--progress);
  background-color: var(--rustRed_dark);
}

.nav__wrapper {
  margin-block-start: 1.5rem;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3.5rem;
}

.hamburger,
.close-btn {
  display: none;
  font-size: clamp(2rem, 1.25rem + 2vw, 4rem);
  background: none;
  border: none;
  position: absolute;
  cursor: pointer;
}

.hamburger {
  right: 1.25rem;
  top: 1.25rem;
  color: black;
}

.close-btn {
  right: 1.25rem;
  top: 1.25rem;
  color: black;
}

.menu__item {
  font-family: var(--inter);
  text-transform: capitalize;
  width: fit-content;
  padding: 1.5rem;
  margin-block-end: 1rem;
  font-weight: 600;
}

.menu__item--special {
  background-color: var(--rustyRed);
  color: var(--fujiSnow);
}

.menu__item--special:active {
  background-color: var(--rustRed_dark);
}

.menu.active .close-btn {
  display: block;
}

.hamburger,
.close-btn {
  display: none;
}

header {
  position: relative;
}

.header__texture--back {
  background-image: url("../assets/jpeg/calliTextrueMobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: screen;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
  opacity: 50%;
}

.header__texture--front {
  background-image: url("../assets/jpeg/leatherTextureMobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header__wrapper,
.hero__wrapper {
  display: flex;
  flex-direction: column;
}

.hero__wrapper {
  align-items: center;
}

.title__wrapper> :nth-child(1) {
  font-family: var(--garamond);
  font-size: 4.6875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.title__wrapper> :nth-child(2) {
  font-family: var(--inter);
  font-size: 5rem;
  font-style: normal;
  font-weight: 900;
  letter-spacing: -0.55rem;
  text-transform: uppercase;
}

.title__wrapper> :nth-child(4) {
  font-family: var(--garamond);
  font-size: 12.8125rem;
  font-weight: 700;
  letter-spacing: -3rem;
  text-transform: uppercase;
  margin-inline-start: -3rem;
}

    @keyframes bounceHero {
      0% {
        transform: translateY(0);
      }
  
      50% {
        transform: translateY(-10px);
      }
  
      100% {
        transform: translateY(0);
      }
    }

.title__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: bounceHero 6s ease-in-out infinite;
}

.accent__text {
  font-family: var(--garamond);
  text-transform: capitalize;
  letter-spacing: 0.28125rem;
  font-size: 0.9rem;
  font-weight: 700;
  opacity: 0;
}

.hero__wrapper>div:nth-of-type(3)>p.accent__text {
  display: none;
}


h2 {
  font-family: var(--garamond);
  font-size: 2.1875rem;
  font-weight: 700;
  text-transform: capitalize;
}

.bodycopy {
  font-family: var(--inter);
  font-size: 1.0625rem;
  line-height: 140%;
}

.book__binding {
  margin-block-start: 4rem;
}

.book__binding--intro {
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
  margin-block-end: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book__binding--title {
  margin-block-end: 2rem;
}

.book__binding--steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1rem;
}

.book__binding--button {
  background-image: url("../assets/svg/uncheckedButton.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10rem;
  width: 10rem;
  height: 4rem;
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  text-align: center;
  color: var(--rustyRed);
}

.book__binding--checkbox:checked+.book__binding--button {
  background-image: url("../assets/svg/buttonSmall.svg");
  color: var(--fujiSnow);
}

.book__binding--checkbox {
  display: none;
}

.book__binding--step label {
  display: flex;
  align-items: center;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.4s ease-in-out;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.pulsate {
  animation: pulsate 1s infinite;
}

.cta {
  display: none;
}

.divider {
  display: flex;
  justify-content: center;
  gap: 1.3rem;
  /* margin-block-start: 6rem; */
  overflow: hidden;
}

.divider__group {
  flex-shrink: 0;
}

.divider__text--big {
  font-family: var(--inter);
  font-size: 2.6875rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.29563rem;
  text-align: center;
}

.spacing {
  margin-inline-start: .5rem;
}

.divider__text--small {
  font-family: var(--garamond);
  font-size: 0.875rem;
  text-align: center;
  font-weight: 700;
  line-height: 1.875rem;
  letter-spacing: 0.2625rem;
  text-transform: capitalize;
}

.flipcard__container {
  perspective: 1000px;
  cursor: pointer;
}

.flipcard {
  position: relative;
  width: 19rem;
  height: 26rem;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  box-sizing: border-box;
}

.flipcard.flipped {
  transform: rotateY(180deg);
}

.flipcard__front,
.flipcard__back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.6rem;
  backface-visibility: hidden;
  box-sizing: border-box;
  box-shadow: 6px 14px 11px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.flipcard__front {
  background-color: var(--warmCopper);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(0deg);
}

.flipcard__back {
  background-color: var(--fujiSnow);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  border: 15px solid var(--warmCopper);
}

.flipcard__title {
  font-size: 2.1875rem;
  font-family: var(--garamond);
  text-transform: capitalize;
  font-weight: 700;
  margin-inline-start: 2.5rem;
  margin-inline-end: 2.5rem;
  margin-block-end: 2.5rem;
  text-align: center;
}

.flipcard__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flipcard__button {
  background-image: url("../assets/svg/buttonSmall.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 10rem;
  width: 10rem;
  height: 3.7rem;
  font-family: var(--garamond);
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: capitalize;
}

.scaled {
  transform: scale(1.1);
}

.stacking__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stacking__cards--section {
  padding-block-start: 2rem;
  padding-block-end: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__wrapper {
  background-color: var(--fujiSnow);
  border: 10px solid var(--warmCopper);
  position: relative;
  padding: 1rem;
  box-shadow: 6px 14px 11px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.leather__overlay {
  background-image: url("../assets/jpeg/leatherTextureMobile.jpg");
  mix-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


/* positioning for scrolltrigger */
.stacking__cards--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 70vh;
  width: 90vw;
}

.stacking__card {
  position: absolute;
}

.card__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

.card__header--group {
  display: flex;
  align-items: center;
}

.card__img {
  width: 6.97138rem;
}

.card__title--wrapper {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.card__title {
  font-family: var(--garamond);
  text-transform: capitalize;
  font-size: 2.1875rem;
  font-weight: 700;
}

.card__subtitle {
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.card__cta {
  font-family: var(--garamond);
  font-size: 1.5625rem;
  font-weight: 700;
  letter-spacing: 0.46875rem;
  text-transform: capitalize;
  padding-block-end: 1.25rem;
}

.injury__section {
  background-color: var(--eerieBlack);
  background-image: url("../assets/avif/textureTile.avif");
  height: 100vh;
  width: 100vw;
  position: relative;
}

.leather__overlay--injury {
  background-image: url("../assets/jpeg/leatherTextureMobile.jpg");
  mix-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  mix-blend-mode: multiply;
  z-index: 1;
}

.injury__section--title {
  font-family: var(--garamond);
  font-size: 2.1875rem;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  color: var(--fujiSnow);
  margin-block-start: 4rem;
}

.injury__section--subtitle {
  color: var(--fujiSnow);
  margin-block-end: 3rem;
  text-align: center;
  font-size: 1.6rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
}

.injury__section--wrapper {
  display: flex;
  flex-direction: column;

}

.injury__section--content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.injury__section--text {
  color: #d1b5a2;
  margin-inline-start: 1.7rem;
  margin-inline-end: 1.7rem;
}

.printer__divider {
  margin-block-start: 2rem;
}

.printing {
  position: relative;
  z-index: 1;
  margin-block-end: 3rem;
}

.roller__img {
  position: absolute;
  transform: rotate(45deg);
  width: 8rem;
  /* top: -15rem; */
  right: -2rem;
}

.printing__quote {
  opacity: 0;
  text-align: center;
  font-family: var(--garamond);
  font-size: 1.25rem;
  margin-inline-start: 2.6rem;
  margin-inline-end: 2.6rem;
  margin-block-start: 2.6rem;
  position: relative;
}

.printing__quote--accent {
  font-style: italic;
  font-weight: 800;
  text-transform: capitalize;
}

.printing__quote::before {
  content: '“';
  position: absolute;
  font-size: 3.75rem;
  top: -1.5rem;
  left: -1.5rem;
}

.printing__quote::after {
  content: '”';
  position: absolute;
  font-size: 3.75rem;
  top: -1.5rem;
  right: -1.5rem;
}

.printing__content {
  margin-block-start: -3.5rem;
}

.printing__picture--image {
  margin-inline-start: -2rem;
  height: 25rem;
}

.printing__keywords {
  margin-block-start: -5rem;
}

.printing__keyword {
  font-family: var(--inter);
  text-transform: uppercase;
  font-size: 2.875rem;
  letter-spacing: -0.31625rem;
  font-weight: 900;
  margin-block-end: 1.8rem;
}

.right__keyword {
  text-align: right;
  margin-inline-end: .5rem;
}

.left__keyword {
  text-align: left;
  margin-inline-start: .5rem;
}

.printing__bodycopy {
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
}

.font__content {
  margin-block-end: 5rem;
}

.font__headline {
  font-family: var(--inter);
  text-transform: uppercase;
  font-size: 2.875rem;
  letter-spacing: -0.31625rem;
  font-weight: 900;
  line-height: 140%;
  margin-block-end: 4.5rem;
}

.font__bodycopy {
  margin-inline-start: 2.5rem;
  margin-inline-end: 2.5rem;
}

.font__interaction {
  background-image: url("../assets/jpeg/backdropFont.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
}

.font__interaction--title {
  text-align: center;
  font-family: var(--garamond);
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: capitalize;
}

.font__textarea {
  max-width: 17rem;
  max-height: 13rem;
  min-width: 17rem;
  min-height: 13rem;
  border: 3px solid var(--rustyRed);
  background-color: var(--fujiSnow);
  border-radius: .8rem;
  padding-block-start: .5rem;
  padding-inline-start: .5rem;
  margin-block-start: 1.9rem;
  margin-block-end: 1.9rem;
  font-family: var(--inter);
  font-size: 1.5rem;
}

.font__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.font__button {
  background-image: url("../assets/svg/buttonSmall.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10rem;
  width: 10rem;
  height: 3.7rem;
  font-family: var(--garamond);
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: capitalize;
}

.font__button:hover {
  filter: brightness(0.85);
  cursor: pointer;
}

.font__button--plantin {
  font-family: 'Plantin', serif;
}

.font__button--garamond {
  font-family: var(--garamond);
}

.turmoil {
  position: relative;
  z-index: 0;
  margin-block-start: 3rem;
  padding-block-start: 3rem;
  padding-block-end: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.turmoil::before {
  content: "";
  position: absolute;
  inset: 0;
  /* Fills the entire section */
  background-image: url("../assets/avif/turmoilBg.avif");
  /* background-size: cover; */
  background-position: center;
  mix-blend-mode: overlay;
  z-index: -1;
  pointer-events: none;
  opacity: 25%;
}


.turmoil__title {
  /* font-size: 2rem; */
  text-align: center;
  margin-block-end: 1rem;
}

.turmoil__title--text {
  padding-block-end: 1rem;
}

.turmoil__title--description-mobile,
.turmoil__title--description-desktop {
  font-size: 1.2rem;
}

.turmoil__title--description-desktop {
  display: none;
}

.turmoil__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.turmoil__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.turmoil__image-wrapper {
  position: relative;
  max-width: 100%;
}

.turmoil__img {
  width: 100%;
  height: auto;
  display: block;
}

.turmoil__text {
  position: absolute;
  /* Position text on top of the image */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #f1efe9;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 1rem;
  box-sizing: border-box;
}

.turmoil__bodycopy {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  margin: 0;
}

.turmoil__image-wrapper:hover .turmoil__text {
  opacity: 1;
}

.turmoil__button {
  background-image: url("../assets/svg/buttonSmall.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10rem;
  width: 10rem;
  height: 3.7rem;
}

.turmoil__button:hover {
  transform: scale(1.05);
}


.divider__fame {
  gap: .5rem;
}

.small__text--fame {
  font-size: 0.8rem;
}

.bible__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.flipcard--bible {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flipcard__front--bible,
.flipcard__back--bible {
  width: fit-content;
  height: fit-content;
}

.flipcard__front--bible {
  padding: 1rem;
}

.bible__title {
  font-family: var(--garamond);
  font-size: 2.1875rem;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  margin-block-start: 3rem;
}

.bible__description {
  margin-inline-start: 2.3rem;
  margin-inline-end: 2.3rem;
  margin-block-start: 1rem;
}

.bible__keyword--title {
  font-family: var(--inter);
  color: var(--eerieBlack);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.875rem;
  letter-spacing: -0.31625rem;
}

.card__cta--bible {
  font-size: 1rem;
  margin-block-end: -1.5rem;
}

.campaign {
  position: relative;
  background-color: var(--rustyRed);
  height: 75vh;
}

.calli__overlay--campaign {
  background-image: url("../assets/jpeg/calliTextrueMobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  mix-blend-mode: screen;
  opacity: 10%;
}

.campaign__wrapper {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.campaign__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.museum__logo--campaign {
  width: 3.5rem;
  margin-block-start: .2rem;
}

.campaign__title {
  font-family: var(--garamond);
  font-size: 1.5625rem;
  color: var(--fujiSnow);
  line-height: 140%;
}

.campaign__text {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  color: var(--fujiSnow);
  margin-block-start: 1.8rem;
  margin-inline-start: 1.4rem;
  margin-inline-end: 1.4rem;
  width: 20.5rem;
}

.campaign__countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  margin-block-start: 1.25rem;
}

.campaign__date {
  width: 70%;
  height: 3rem;
  background-color: var(--fujiSnow);
  display: flex;
  align-items: center;
  padding-inline-start: 1.25rem;
  gap: .5rem;
}

.count {
  display: flex;

}

.campaign__pagination {
  background-image: url("../assets/svg/buttonWhite.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-block-start: -4rem;
}

.pagination-btn {
  color: var(--rustyRed);
  font-size: 3.5rem;
  opacity: 50%;
}

.pagination-btn.active {
  opacity: 100%;
}

.carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(0%);
  transition: transform 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.carousel__item.active {
  opacity: 1;
  visibility: visible;
}

.footer {
  position: relative;
  height: 45vh;
  display: flex;
  justify-content: center;
}

.calli__overlay--footer {
  background-image: url("../assets/jpeg/calliTextrueMobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  mix-blend-mode: screen;
  opacity: 60%;
}

.leather__overlay--footer {
  background-image: url("../assets/jpeg/leatherTextureMobile.jpg");
  mix-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.footer__wrapper {
  position: absolute;
  z-index: 1;
  margin-block-start: 1rem;
}

.footer__title {
  font-family: var(--garamond);
  text-align: center;
  font-size: 1.5625rem;
  font-weight: 700;
}

.footer__description {
  font-size: 0.9375rem;
  text-align: center;
  line-height: 140%;
}

.footer__form {
  margin-block-start: .9rem;
  margin-block-end: 1.4rem;
}

.footer__input {
  border: 2px solid var(--rustyRed);
  background-color: var(--fujiSnow);
  padding-block-start: .7rem;
  padding-block-end: .7rem;
  padding-inline-start: .6rem;
  font-family: var(--inter);
  font-size: 0.75rem;
  width: 15.5rem;
}

.footer__submit--button,
.footer__nav--button {
  background-color: var(--rustyRed);
  color: var(--fujiSnow);
  font-family: var(--inter);
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: capitalize;
  padding-block-start: .9rem;
  padding-block-end: .9rem;
  padding-inline-start: .6rem;
  padding-inline-end: .6rem;
}

.footer__nav--button {
  padding-inline-start: .65rem;
  padding-inline-end: .65rem;
}

.footer__nav {
  display: flex;
  gap: 1rem;
}

.footer__contact {
  display: flex;
  width: 11.9375rem;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  margin: 0 auto;
  margin-block-start: 1.6rem;
}

.footer__address,
.footer__phone,
.footer__email {
  font-size: 0.625rem;
}


@media only screen and (min-width: 23em) {

  .museum__logo {
    width: 5rem;
    height: 4.71356rem;
  }

  .hamburger {
    display: block;
    top: 1rem;
    right: 1rem;
  }

  .menu {
    display: none;
    top: 0;
    left: 0;
    background-color: var(--fujiSnow);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }

  .menu.active {
    display: flex;
    position: fixed;
    height: 100vb;
    width: 100vi;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .close-btn {
    display: none;
  }

  .menu.active .close-btn {
    display: block;
  }

  .title__wrapper> :nth-child(1) {
    order: 1;
  }

  .title__wrapper> :nth-child(2) {
    order: 2;
  }

  .title__wrapper> :nth-child(3) {
    order: 4;
  }

  .title__wrapper> :nth-child(4) {
    order: 3;
    justify-self: center;
  }

  .header__img {
    margin-block-start: -10rem;
  }

  .card__block:nth-of-type(1) {
    width: 20rem;
  }

  .card__block:nth-of-type(3) {
    width: 17.5rem;
  }

  .card1 {
    top: 4rem;
  }

  .card2 {
    top: 2rem;
  }

  .card3 {
    top: 4rem;
  }

  .card4 {
    top: 2rem;
  }

  .roller__img {
    display: none;
  }

  .font__interaction {
    width: 100vw;
  }

  .card__cta--bible {
    text-align: center;
  }

  .flipcard--bible {
    height: 15rem;
  }

  .flipcard__front--image {
    width: 20rem;
  }

  .flipcard__back--image {
    width: 20rem;
  }

  .bible__keywords {
    margin-block-start: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bible__keyword--item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bible__keyword--title {
    font-size: 4rem;
  }

  .bible__keyword-description {
    width: 90vw;
  }

  .keyword__opportunity--title {
    font-size: 3.5rem;
  }

  .keyword__perseverance--title {
    font-size: 3.3rem;
  }

  .footer{
    height: 100%;
  } 
}

@media only screen and (min-width: 51em) {

  .hero__wrapper>div:nth-of-type(3)>p.accent__text {
    display: block;
  }

  .header__wrapper {
    height: 100vh;
  }

  .nav__wrapper {
    justify-content: center;
  }

  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .title__accent {
    color: var(--fujiSnow);
  }

  .title__wrapper> :nth-child(1) {
    order: 1;
    font-size: 6rem;
  }

  .title__wrapper> :nth-child(2) {
    order: 2;
    font-size: 11rem;
    letter-spacing: -1.625rem;
  }

  .title__wrapper> :nth-child(3) {
    order: 3;
    margin-block-start: -15rem;
  }

  .title__wrapper> :nth-child(4) {
    order: 4;
    justify-self: center;
    letter-spacing: 1.5rem;
    margin-inline-start: 0rem;
    font-size: 15rem;
    margin-block-start: -12rem;
  }

  .hero__wrapper {
    display: flex;
    justify-content: center;
  }

  .header__img {
    margin-block-start: 10rem;
  }

  .accent__text {
    font-size: 1.5625rem;
    font-weight: 700;
  }

  .accent__text--first {
    margin-block-start: 5rem;
  }

  .right__word {
    display: block;
    text-align: center;
  }

  .cta {
    margin-block-start: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
  }

  .cta__text {
    font-family: var(--inter);
    font-size: 0.9375rem;
  }

  .cta__icon {
    display: block;
    margin: 0 auto;
    animation: bounce 1.5s ease-in-out infinite;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(10px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .book__binding {
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block-end: 2rem;
  }

  .book__binding--text {
    width: 65vw;
  }

  .book__binding--image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-block-start: 4rem;
  }

  .book__binding--step {
    position: absolute;
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .step1 {
    position: absolute;
    top: 0;
    right: 10%;
    animation: float 5.7s ease-in-out infinite;
  }

  .step2 {
    position: absolute;
    bottom: 5%;
    left: 4rem;
    animation: float 6s ease-in-out infinite;
  }

  .step3 {
    position: absolute;
    bottom: 0;
    right: 5rem;
    animation: float 6.5s ease-in-out infinite;
  }

  .step4 {
    position: absolute;
    top: 35%;
    left: 0;
    animation: float 5s ease-in-out infinite;
  }

  .step5 {
    position: absolute;
    top: 0;
    left: 2rem;
    animation: float 7s ease-in-out infinite;
  }

  .step6 {
    position: absolute;
    top: 45%;
    right: 0;
    animation: float 6s ease-in-out infinite;
  }

  .divider__group {
    margin-inline-start: 0;
    margin-inline-end: 5rem;
  }

  .binder__divider--group {
    margin-inline-start: 2rem;
    margin-inline-end: 2rem;
  }

  .divider__text--big {
    font-size: 5rem;
    letter-spacing: -0.55rem;
  }

  .divider__text--small {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    padding-inline-start: 1.5rem;
  }

  .stacking__cards {
    margin-block-start: 5rem;
  }

  .card__block:nth-of-type(1) {
    width: 100vw;
  }

  .card__block:nth-of-type(3) {
    width: 100vw;
  }

  .card__wrapper {
    width: 30rem;
    border: 14px solid var(--warmCopper);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card__img {
    width: 10rem;
  }

  .flipcard__image {
    transform: rotate(90deg);
    transform-origin: center;
    height: 28rem;
  }

  .card__title {
    font-size: 3.5rem;
  }

  .card__bodycopy {
    width: 25rem;
    margin-block-end: 1rem;
  }

  .flipcard {
    height: 22rem;
    width: 30rem;
  }

  .flipcard__actions {
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }

  .card1 {
    top: 4rem;
    left: -6rem;
  }

  .card2 {
    top: 2rem;
    right: 3rem;
  }

  .card3 {
    top: 10rem;
  }

  .card4 {
    top: 4rem;
    right: 3rem;
  }

  .injury__section {
    height: 80vh;
  }

  .injury__section--wrapper {
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-block-start: -3rem;
  }

  .injury__section--title {
    font-size: 3rem;
  }
  .injury__section--subtitle{}

  .injury__section--text {
    width: 75vw;
    text-align: center;
    font-size: 1.3rem;
    line-height: 160%;
  }

  .printer__divider {
    margin-block-start: 3rem;
  }

  .printer__divider>.divider__group {
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
  }

  .printing__quote {
    font-size: 2.5rem;
  }

  .printing__quote::before {
    font-size: 6rem;
    top: -3.5rem;
    left: 1rem;
  }

  .printing__quote::after {
    font-size: 6rem;
    top: -3.5rem;
    right: 1rem;
  }

  .printing__picture--image {
    height: 60vh;
    margin-inline-start: 0rem;
    animation: bounce 3s ease-in-out infinite;
  }

  .printing__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .printing__keywords {
    margin-block-start: 0;
  }

  .printing__keyword {
    margin-block-end: 0;
  }

  .printing__text-content {
    height: 100%;
    width: 50vw;
    margin-block-start: 10rem;
  }

  .printing {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block-start: 2rem;
  }

  .printing__bodycopy {
    margin-block-start: 1rem;
  }

  .font__container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .font__bodycopy {
    width: 55vw;
  }

  .font__buttons {
    flex-direction: row;
    gap: 1rem;
  }

  .font__content {
    margin-block-end: 3rem;
  }

  @keyframes slideHint {

    0%,
    100% {
      right: -60%;
    }

    50% {
      right: -55%;
    }
  }

  .font__interaction {
    width: 75vw;
    position: absolute;
    top: 0;
    right: -60%;
    transition: right 0.5s ease;
    animation: slideHint 2s ease-in infinite;
  }

  .font__interaction:hover {
    cursor: pointer;
  }

  .font__interaction--visible {
    right: 0;
  }

  .font__interaction--clicked {
    animation: none;
  }

  .font__interaction--content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .font__headline {
    width: 77%;
    margin-inline-start: 2rem;
    margin-block-end: .5rem;
  }

  .divider__group--fame {
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  .card__cta--bible {
    padding-block-end: 2rem;
  }

  .flipcard__front--image {
    width: 30rem;
  }

  .flipcard__back--image {
    width: 30rem;
  }

  .bible__title {
    margin-block-start: 3rem;
  }

  .bible__description {
    width: 65vw;
  }

  .bible__keyword--title {
    font-size: 6.5rem;
    letter-spacing: -0.55rem;
  }

  .bible__keywords {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .bible__keyword--item {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 1rem;
  }

  .keyword__right {
    margin-inline-start: 5rem;
  }

  .keyword__left {
    margin-inline-end: 5rem;
  }

  .bible__keyword-description {
    margin-inline-start: 2rem;
    width: 50vw;
  }

  .carousel,
  .carousel__item,
  .campaign__content,
  .campaign__countdown {
    all: unset;
  }

  .campaign__pagination {
    display: none;
  }

  .carousel {
    display: flex;
    align-items: center;
  }

  .carousel__item {
    width: 50vw;
    position: static;
    transform: none;
    opacity: 1 !important;
    align-items: center;
  }

  .campaign {
    display: flex;
    height: 60vh;
  }

  .campaign__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .campaign__countdown {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .campaign__date {
    margin-inline-start: 1.25rem;
  }


  .footer {
    height: 30vh;
  }

  .footer__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (min-width: 65em) {


  .font__interaction {
    width: 75vw;
    position: absolute;
    top: 0;
    right: -60%;
    transition: right 0.5s ease;
  }

  .font__interaction--visible {
    right: 0;
  }

  .font__headline {
    width: 67%;
  }

  .font__content {
    margin-inline-start: 3rem;
  }

  .font__bodycopy {
    width: 45%;
  }

  .card1 {
    top: 3rem;
    left: 9rem;
    transform: rotate(-9deg);
  }

  .card3 {
    top: 7rem;
    transform: rotate(9deg);
  }

  .card4 {
    top: 2rem;
    right: 3rem;
  }

  .injury__section {
    height: 100vh;
  }

  .leather__overlay--injury {
    background-image: url("../assets/jpeg/leatherTextureDesktop.jpg");
  }

  .injury__section--text {
    width: 60vw;
  }

  .printing {
    position: relative;
  }

  .roller__img {
    display: block;
    width: 10rem;
    right: 2rem;
    top: 1rem;
    animation: bounceRotate 6s ease-in-out infinite;
  }

  @keyframes bounceRotate {
    0% {
      transform: translateY(0) rotate(45deg);
      transform-origin: right;
    }

    50% {
      transform: translateY(-20px) rotate(60deg);
      transform-origin: center;
    }

    100% {
      transform: translateY(0) rotate(45deg);
      transform-origin: right;
    }
  }

  .printing__quote {
    position: absolute;
    left: 10rem;
    right: 10rem;
  }

  .printing__content {
    margin-block-start: 5rem;
  }

  .printing__picture--image {
    height: 50rem;
  }

  .printing__keyword {
    text-align: center;
    font-size: 5rem;
    letter-spacing: -0.55rem;
  }

  .right__keyword {
    margin-inline-start: 1rem;
  }

  .left__keyword {
    margin-inline-end: 3rem;
    margin-inline-start: -3rem;
  }

  .printing__bodycopy {
    margin-inline-start: -.5rem;
  }

  .bible__content {
    margin-block-start: 3rem;
    margin-block-end: 10rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .bible__content--text {
    width: 40%;
    margin-inline-start: 2rem;
  }

  .card__block:nth-of-type(1) {
    width: 50vw;
  }

  .bible__description {
    width: 100%;
  }

  .bible__card--block {
    width: 50vw;
  }

  .flipcard__front--image {
    width: 25rem;
  }

  .flipcard__back--image {
    width: 25rem;
  }

  .bible__title {
    margin-block-start: 0;
  }

  .turmoil__content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .turmoil__title--description-mobile {
    display: none;
  }

  .turmoil__title--description-desktop {
    display: block;
  }
}

@media only screen and (min-width: 78em) {

  .header__texture--back {
    background-image: url("../assets/jpeg/callyTextureDesktop.jpg");
  }

  .hamburger {
    display: none;
  }

  .menu {
    display: block;
    background-color: transparent;
  }

  .menu__list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .menu__item--special:hover {
    background-color: var(--rustRed_dark);
    cursor: grabbing;
  }

  .hero__wrapper {
    flex-direction: row;
    margin-block-start: -3rem;
    height: 90%;
  }

  .title__wrapper> :nth-child(1) {
    font-size: 5rem;
  }

  .title__wrapper> :nth-child(2) {
    margin-inline-start: -2rem;
  }

  .title__wrapper> :nth-child(4) {
    margin-inline-start: 3rem;
  }

  .header__img--idk {
    width: 25rem;
  }

  .cta {
    margin-block-start: -4rem;
  }

  .accent__text {
    display: flex;
    flex-direction: column;
    width: 9rem;
  }

  .right__word {
    text-align: right;
  }

  .accent__text--first {
    line-height: 140%;
    margin-block-start: 0
  }

  .book__binding {
    height: auto;
    margin-block-start: 2rem;
  }

  .book__binding--image-container {
    margin-block-start: 0;
  }

  .book__binding--image {
    width: 60vw;
  }

  .book__binding--text {
    width: 51vw;
  }

  .book__binding--button {
    background-image: url("../assets/svg/uncheckedButtonBig.svg");
    background-size: 12rem;
    width: 12rem;
    font-size: 1.2rem;
  }

  .step1 {
    top: 0;
    right: 0;
  }

  .step2 {
    bottom: 12%;
    left: 0;
  }

  .step3 {
    bottom: 5%;
    right: 0;
  }

  .step4 {
    top: 35%;
    left: -15%;
  }

  .step5 {
    top: 0;
    left: 2rem;
  }

  .step6 {
    top: 45%;
    right: -20%;
  }

  .card2 {
    right: 6rem;
  }

  .card4 {
    top: 3rem;
    right: 0;
    left: 0;
  }

  @keyframes slideHint {

    0%,
    100% {
      right: -80%;
    }

    50% {
      right: -75%;
    }
  }

  .font__section {
    width: 90vw;
    height: 23rem;
    margin-block-start: 3rem;
  }


  .font__content {
    margin-inline-start: 5rem;
  }

  .font__headline {
    width: 50vw;
  }

  .font__interaction {
    right: -80%;
    transition: right 0.5s ease;
    animation: slideHint 2s ease-in infinite;
  }

  .font__interaction--visible {
    right: -20%;
  }

  .font__interaction--clicked {
    animation: none;
  }

  .font__bodycopy {
    width: 50%;
  }

  .injury__section--text {
    width: 50vw;
  }

  .printing__quote {
    position: absolute;
    left: 15rem;
    right: 15rem;
  }

  .printing__picture--image {
    height: 55rem;
  }

  .printing__bodycopy {
    margin-inline-start: 3rem;
  }

  .bible__content {
    gap: 0;
  }

  .card__cta--bible {
    padding-block-end: 0;
  }

}

@media only screen and (min-width: 90em) {
  /* .container {
    max-width: 90em;
    margin: 0 auto;
  } */

  .hero__wrapper {
    flex-direction: row;
    margin-block-start: -5rem;
    height: 100%;
  }

  .accent__text {
    display: flex;
    flex-direction: column;
    width: 9rem;
  }

  .right__word {
    text-align: right;
  }

  .book__binding {
    margin-block-start: 8rem;
  }

  .injury__section--text {
    width: 45vw;
  }

  .printing__picture--image {
    height: 55rem;
  }

  .printing__bodycopy {
    margin-inline-start: 6.5rem;
  }

  .flipcard__front--image {
    width: 35rem;
  }

  .flipcard__back--image {
    width: 35rem;
  }

  .bible__description {
    width: 87%;
  }

  .card__cta--bible {
    padding-block-end: 3rem;
  }
}